 <% if user_signed_in? %>
	<div class="center">
	    <h1>Your Wine Data</h1>
  		<p><%= link_to "Add More Wine Data", wine_form_path, class: "btn btn-small" %></p>

  		<%= render 'layouts/table' %>
	</div>
<% else %>
	<div id="home-image"><%= image_tag("Wine_Bottles.jpg", :alt => "wine bottles") %></div>
	<div class="center hero-unit" id="home-notLoggedIn">

	    <h1>Welcome to MyWinery</h1>

	    <p>
	      For access to 
	      <%= link_to "MyWinery", root_path %>
	      please Sign In.  If you do not have an account, then please Sign Up.
	    </p>

	    <%= link_to "Sign up now!", new_user_registration_path, 
	        class: "btn btn-large btn-primary" %>
	</div>

<% end %>
