<%= simple_form_for(@wine_list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :wineName %>
    <%= f.input :grapes %>
    <%= f.input :like %>
    <%= f.input :wineryName %>
    <%= f.input :wineryLocation %>
    <%= f.input :vintage %>
    <%= f.input :foodPairings %>
    <%= f.input :whereFound %>
    <%= f.input :cost %>
    <%= f.input :inStock %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
